:root {
  --stack-width: 60px;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  position: relative;
  /* transform: scale(1.8); */
}

.ball {
  position: absolute;
  background-color: red;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.pin {
  position: absolute;
  background-color: white;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.pin--hit {
  outline-width: 1px;
  animation: glow 300ms ease-out;
  outline-style: solid;
}

@keyframes glow {
  from {
    outline-color: rgba(255, 255, 255, 0.3);
    outline-width: 2px;
  }
  to {
    outline-color: rgba(255, 255, 255, 0.01);
    outline-width: 20px;
  }
}

.mark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: 600;
}

.mark--down {
  animation: down 300ms ease-out;
}

@keyframes down {
  0% {
    transform: translate(-50%, -50%);
  }
  60% {
    transform: translate(-50%, -20%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.score-stack {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  top: 20%;
  right: 0;
  width: var(--stack-width);
  height: calc(4 * var(--stack-width));
  overflow: hidden;
}

.score {
  width: var(--stack-width);
  min-height: var(--stack-width);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  border-top: 1px solid black;
}

.score--slide-down {
  animation: slide-down 300ms linear;
}

@keyframes slide-down {
  from {
    transform: translateY(calc(-1 * (var(--stack-width))));
  }
  to {
    transform: translateY(0);
  }
}

/* * comment these lines to show render */
canvas {
  display: none;
}
